# EDA_Mortalidad_España
##### Cristina Hidalgo

La idea de este proyecto surgió de la hipótesis de diseñar un producto que pudiera ser utilizado tanto por las entidades sanitarias como por las empresas aseguradoras. La salud y el dinero son dos aspectos fundamentales en la vida y en la sociedad consumista actual, y este producto busca ofrecer una solución que aborde ambos aspectos de manera efectiva.

Para seleccionar la enfermedad que definirá el proyecto se han descargado datos del INE que contienen el total de muertes de la población española por causas y edad desde 2010-2021. Están disponibles públicamente en: https://www.ine.es/jaxiT3/Datos.htm?t=49075#!tabs-tabla.

In [1]:
import numpy as np
import pandas as pd
import pandas_profiling as pp

In [2]:
Mortalidad_ES_causas_edades = pd.read_csv('./data/Mortalidad_ES_causas_edades.csv', sep=';', encoding='latin-1')
Mortalidad_ES_causas_edades

,Causa,Sexo,Edad,Periodo,Total muertes
0,Enfermedades infecciosas y parasitarias,Hombres,De menos de 1 año,2010,9.000
1,Enfermedades infecciosas y parasitarias,Hombres,De 1 a 4 años,2010,9.000
2,Enfermedades infecciosas y parasitarias,Hombres,De 5 a 9 años,2010,1.000
3,Enfermedades infecciosas y parasitarias,Hombres,De 10 a 14 años,2010,3.000
4,Enfermedades infecciosas y parasitarias,Hombres,De 15 a 19 años,2010,3.000
...,...,...,...,...,...
8563,Causas externas de mortalidad,Mujeres,De 75 a 79 años,2021,470.000
8564,Causas externas de mortalidad,Mujeres,De 80 a 84 años,2021,682.000
8565,Causas externas de mortalidad,Mujeres,De 85 a 89 años,2021,1.134
8566,Causas externas de mortalidad,Mujeres,De 90 a 94 años,2021,1.102
8567,Causas externas de mortalidad,Mujeres,De 95 y más años,2021,589.000

### Información de los datos recogidos

In [3]:
Mortalidad_ES_causas_edades.columns

Index(['Causa', 'Sexo', 'Edad', 'Periodo', 'Total muertes'], dtype='object')

In [4]:
Mortalidad_ES_causas_edades.shape

(8568, 5)

In [8]:
Mortalidad_ES_causas_edades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8568 entries, 0 to 8567
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Causa          8568 non-null   object
 1   Sexo           8568 non-null   object
 2   Edad           8568 non-null   object
 3   Periodo        8568 non-null   int64
 4   Total muertes  8568 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 334.8+ KB

In [7]:
Mortalidad_ES_causas_edades.describe()
#Solo para total muertes

           Periodo  Total muertes
count  8568.000000    8568.000000
mean   2015.500000     101.728447
std       3.452254     197.450910
min    2010.000000       0.000000
25%    2012.750000       1.968500
50%    2015.500000      10.000000
75%    2018.250000      87.000000
max    2021.000000     999.000000

## Análisis Exploratorio de Datos

In [5]:
Mortalidad_ES_causas_edades[["Causa"]].value_counts()

Causa
Afecciones originadas en el periodo perinatal                                                                                504
Enfermedades del sistema osteomuscular y del tejido conjuntivo                                                               504
Trastornos mentales y del comportamiento                                                                                     504
Síntomas, signos y hallazgos anormales clínicos y de laboratorio, no clasificados en otra parte                              504
Malformaciones congénitas, deformidades y anomalías cromosómicas                                                             504
Enfermedades infecciosas y parasitarias                                                                                      504
Enfermedades endocrinas, nutricionales y metabólicas                                                                         504
Enfermedades del sistema respiratorio                                                                                        504
Enfermedades del sistema nervioso y de los órganos de los sentidos                                                           504
Causas externas de mortalidad                                                                                                504
Enfermedades del sistema genitourinario                                                                                      504
Enfermedades del sistema digestivo                                                                                           504
Enfermedades del sistema circulatorio                                                                                        504
Enfermedades de la sangre y de los órganos hematopoyéticos, y ciertos trastornos que afectan al mecanismo de la inmunidad    504
Enfermedades de la piel y del tejido subcutáneo                                                                              504
Embarazo, parto y puerperio                                                                                                  504
Tumores                                                                                                                      504
Name: count, dtype: int64

In [6]:
Mortalidad_ES_causas_edades["Causa"].value_counts().sum()

8568

In [9]:
Mortalidad_ES_causas_edades["Periodo"] = pd.to_datetime(Mortalidad_ES_causas_edades["Periodo"])

In [10]:
Mortalidad_ES_causas_edades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8568 entries, 0 to 8567
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Causa          8568 non-null   object
 1   Sexo           8568 non-null   object
 2   Edad           8568 non-null   object
 3   Periodo        8568 non-null   datetime64[ns]
 4   Total muertes  8568 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 334.8+ KB

In [14]:
pp.ProfileReport(Mortalidad_ES_causas_edades);

In [15]:
from pandas_profiling import ProfileReport

profile = ProfileReport(Mortalidad_ES_causas_edades, title="Mortalidad_ES_causas_edades Report", explorative=True)

profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\Cristina\anaconda3\envs\eda_env\lib\site-packages\multimethod\__init__.py:315: UserWarning: Discarding nonzero nanoseconds in conversion.
  return func(*args, **kwargs)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Los datos se han analizado con power BI. A partir de este análisis se ha determinado que la principal causa de muerte en España son las enfermedades cardiacas

Según las estadísticas de la OMS, cada año mueren 17,9 millones por enfermedades del corazón.

El estudio médico dice que el estilo de vida humano es la razón principal detrás de este problema cardíaco.
Aparte de esto, hay muchos factores clave que advierten que la persona puede o no tener riesgo de enfermedad cardíaca.